<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="resumeForm" class="p-6" style="position: relative; flex: 1 1 auto; width: 100%;">
  <form [formGroup]="resumeForm">

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Image Section</h2>
    <hr class="my-4 border-t border-gray-300" />
    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <div class="file-upload-wrapper">
          <button type="button" class="upload-btn" (click)="backgroundInput.click()">
            Upload Resume Background Image
          </button>
          <input #backgroundInput type="file" accept="image/*" class="hidden-file-input"
            (change)="handleFileInput($event, 'backgroundImage')" />
          <div class="file-name" *ngIf="selectedBackGroundFileName">
            {{ selectedBackGroundFileName }}
          </div>
        </div>
      </div>
      <div class="col-span-3">
        <div class="file-upload-wrapper">
          <button type="button" class="upload-btn" (click)="profileInput.click()">
            Upload Profile Image
          </button>
          <input #profileInput type="file" accept="image/*" class="hidden-file-input"
            (change)="handleFileInput($event, 'profileImage')" />
          <div class="file-name" *ngIf="selectedProfileFileName">
            {{ selectedProfileFileName }}
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Personal Details</h2>
    <hr class="my-4 border-t border-gray-300" />
    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>First Name</mat-label>
          <input [formControlName]="'lastName'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Last Name</mat-label>
          <input [formControlName]="'firstName'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Title</mat-label>
          <input [formControlName]="'jobTitle'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Email Address</mat-label>
          <input [formControlName]="'email'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Phone Number</mat-label>
          <input [formControlName]="'phone'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Current Location</mat-label>
          <input [formControlName]="'location'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Professional Summary</mat-label>
          <input [formControlName]="'profileSummary'" matInput>
        </mat-form-field>
      </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Skills</h2>
    <hr class="my-4 border-t border-gray-300" />

    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Skill 1</mat-label>
          <input [formControlName]="'skillOne'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Skill 2</mat-label>
          <input [formControlName]="'skillTwo'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Skill 3</mat-label>
          <input [formControlName]="'skillThree'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Skill 4</mat-label>
          <input [formControlName]="'skillFour'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Skill 5</mat-label>
          <input [formControlName]="'skillFive'" matInput>
        </mat-form-field>
      </div>

    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Languages</h2>
    <hr class="my-4 border-t border-gray-300" />

    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Language Proficiency 1</mat-label>
          <input [formControlName]="'languageOne'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Language Proficiency 2</mat-label>
          <input [formControlName]="'languageTwo'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Language Proficiency 3</mat-label>
          <input [formControlName]="'languageThree'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Language Proficiency 4</mat-label>
          <input [formControlName]="'languageFour'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Language Proficiency 5</mat-label>
          <input [formControlName]="'languageFive'" matInput>
        </mat-form-field>
      </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Organization Details</h2>
    <hr class="my-4 border-t border-gray-300" />

    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>First Company</mat-label>
          <input [formControlName]="'firstCompanyName'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Role</mat-label>
          <input [formControlName]="'firstCompanyRole'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Company Location</mat-label>
          <input [formControlName]="'firstCompanyLocation'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Responsibility 1</mat-label>
          <input [formControlName]="'firstCompanyDescriptionOne'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Responsibility 2</mat-label>
          <input [formControlName]="'firstCompanyDescriptionTwo'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Second Company</mat-label>
          <input [formControlName]="'secondCompanyName'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Role</mat-label>
          <input [formControlName]="'secondCompanyRole'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Company Location</mat-label>
          <input [formControlName]="'secondCompanyLocation'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Responsibility 1</mat-label>
          <input [formControlName]="'secondCompanyDescriptionOne'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Job Responsibility 2</mat-label>
          <input [formControlName]="'secondCompanyDescriptionTwo'" matInput>
        </mat-form-field>
      </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-4">Education Details</h2>
    <hr class="my-4 border-t border-gray-300" />

    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>First Degree / Course</mat-label>
          <input [formControlName]="'firstFieldOfStudy'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Grade / CGPA</mat-label>
          <input [formControlName]="'firstFieldOfStudyGrade'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Institution Location</mat-label>
          <input [formControlName]="'firstFieldOfStudyLocation'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Second Degree / Course</mat-label>
          <input [formControlName]="'secondFieldOfStudy'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Grade / CGPA</mat-label>
          <input [formControlName]="'secondFieldOfStudyGrade'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Institution Location</mat-label>
          <input [formControlName]="'secondFieldOfStudyLocation'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Third Degree / Course</mat-label>
          <input [formControlName]="'thirdFieldOfStudy'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Grade / CGPA</mat-label>
          <input [formControlName]="'thirdFieldOfStudyGrade'" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-3">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Institution Location</mat-label>
          <input [formControlName]="'thirdFieldOfStudyLocation'" matInput>
        </mat-form-field>
      </div>
    </div>
    <span matTooltip="Fill Personal Details." [matTooltipDisabled]="!resumeForm.invalid" matTooltipPosition="above">
      <button class="mr-5" mat-raised-button color="primary" (click)="previewResume()" [disabled]="resumeForm.invalid">
        Preview Resume
      </button>
    </span>

    <span matTooltip="Fill Personal Details." [matTooltipDisabled]="!resumeForm.invalid" matTooltipPosition="above">
      <button mat-raised-button color="primary" (click)="printResume()" [disabled]="resumeForm.invalid">
        Print Resume
      </button>
    </span>
  </form>
</div>