<div class="container">
  <div class="left-column background-dark" [formGroup]="resumeForm"
  style=" overflow-y: auto;">
    <h2>Upload A4 Background Image</h2>

    <input type="file" accept="image/*" (change)="onImageSelected($event)" />

    <div style="margin-top: 20px;">
      <label for="coverImage">Profile Image</label>
      <input type="file" id="coverImage" accept="image/*" (change)="onCoverImageSelected($event)" />


      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Profile Summary</mat-label>
        <input matInput formControlName="profileSummary" />
      </mat-form-field>

       <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Skill 1</mat-label>
        <input matInput formControlName="skillOne" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Skill 2</mat-label>
        <input matInput formControlName="skillTwo" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Skill 3</mat-label>
        <input matInput formControlName="skillThree" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Skill 4</mat-label>
        <input matInput formControlName="skillFour" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Skill 5</mat-label>
        <input matInput formControlName="skillFive" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Language 1</mat-label>
        <input matInput formControlName="languageOne" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Language 2</mat-label>
        <input matInput formControlName="languageTwo" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Language 3</mat-label>
        <input matInput formControlName="languageThree" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Language 4</mat-label>
        <input matInput formControlName="languageFour" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Language 5</mat-label>
        <input matInput formControlName="languageFive" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Organization Name</mat-label>
        <input matInput formControlName="firstCompanyName" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Role</mat-label>
        <input matInput formControlName="firstCompanyRole" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="firstCompanyLocation" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Description</mat-label>
        <input matInput formControlName="firstCompanyDescriptionOne" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Second Description</mat-label>
        <input matInput formControlName="firstCompanyDescriptionTwo" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Second Organization Name</mat-label>
        <input matInput formControlName="secondCompanyName" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Role</mat-label>
        <input matInput formControlName="secondCompanyRole" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="secondCompanyLocation" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Description</mat-label>
        <input matInput formControlName="secondCompanyDescriptionOne" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Second Description</mat-label>
        <input matInput formControlName="secondCompanyDescriptionTwo" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Education Name</mat-label>
        <input matInput formControlName="firstFieldOfStudy" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Grade</mat-label>
        <input matInput formControlName="firstFieldOfStudyGrade" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="firstFieldOfStudyLocation" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Second Education Name</mat-label>
        <input matInput formControlName="secondFieldOfStudy" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Grade</mat-label>
        <input matInput formControlName="secondFieldOfStudyGrade" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="secondFieldOfStudyLocation" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Third Education Name</mat-label>
        <input matInput formControlName="thirdFieldOfStudy" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Grade</mat-label>
        <input matInput formControlName="thirdFieldOfStudyGrade" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput formControlName="thirdFieldOfStudyLocation" />
      </mat-form-field>
    </div>

    <button mat-raised-button (click)="previewDesign()" [disabled]="!templateImage">
      Preview Design
    </button>
  </div>

  <div class="right-column">
    <div
      style="position: relative; width: 210mm; height: 297mm; background-color: whitesmoke; transform: scale(0.6); transform-origin: center center;">

      <img *ngIf="templateImage" [src]="templateImage" alt="Template"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;" />

      <!-- Image cover -->
      <div style="position: absolute;top: 10px; left: 50px; padding: 10px;z-index: 3;width: 200px;height: 200px; display: flex;
                  justify-content: center; align-items: center; box-sizing: border-box;">
        <!-- w-30% h18% left 30px -->
        <!-- Circle Image Container -->
        <div style="height: 100%; aspect-ratio: 1/1; border-radius: 50%;overflow: hidden;border: 2px solid white;">
          <img *ngIf="coverImage" [src]="coverImage" alt="Profile"
            style="width: 100%; height: 100%; object-fit: cover;" />
        </div>
      </div>

      <!-- Rectangle shape design -->
      <div
        style="position: absolute; top: 160px; left: 0; width: 100%; height: 50px; background-color: darkblue; z-index: 1;">
        <div
          style="display: grid; grid-template-columns: 1.5fr 1fr 1fr; height: 100%; position: relative; z-index: 2; box-sizing: border-box;">
          <div><!--Empty Block--></div>
          <div
            style="background: transparent; grid-column: span 2; position: relative; height: 100%;box-sizing: border-box;">
            <div
              style="letter-spacing:0.5mm; position: relative;right:15px; top: 15px; height: 100%; box-sizing: border-box;color: white;">
              {{ resumeForm.get('jobTitle')?.value }}
            </div>
          </div>
        </div>
      </div>

      <!-- Grid container inside A4 preview -->
      <div style="display: grid; grid-template-columns: 1.3fr 1fr 1fr; gap: 20px; height: 100%; position: relative;
                 z-index: 2; box-sizing: border-box;">

        <!-- Left Column -->
        <div style="background: rgba(0, 0, 0, 0.05); height: 100%; box-sizing: border-box; position: relative;">
          <div style="position: absolute; width: 100%; top: 235px;">
            <div style="padding: 0 15px; display: flex; flex-direction: column; gap: 1px;">

              <!-- Contact -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px;">
                  CONTACT
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                    background: linear-gradient(to right,  darkblue, purple);"></div>
                </div>

                <div>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin:5px">
                    {{ resumeForm.get('email')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal;margin:5px">
                    {{ resumeForm.get('phone')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin:5px">
                    {{ resumeForm.get('location')?.value }}
                  </h3>

                </div>
              </div>

              <!-- Profile Summary -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px;">
                  Profile Summary
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                         background: linear-gradient(to right, darkblue, purple);"></div>
                </div>
                <div>
                  <h3 style="font-weight: normal; margin: 5px 0; text-align: justify; word-break: normal;">
                    {{ resumeForm.get('profileSummary')?.value }}
                  </h3>
                </div>
              </div>

              <!-- Skills -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px;">
                  Skills
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                         background: linear-gradient(to right, darkblue, purple);"></div>
                </div>

                <ul style="list-style: none; padding-left: 0; margin: 10px 0;">
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('skillOne')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('skillTwo')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('skillThree')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('skillFour')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('skillFive')?.value }}
                  </li>
                </ul>
              </div>

              <!-- Languages -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px;">
                  Languages
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                         background: linear-gradient(to right, darkblue, purple);"></div>
                </div>

                <ul style="list-style: none; padding-left: 0; margin: 10px 0;">
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('languageOne')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('languageTwo')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('languageThree')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('languageFour')?.value }}
                  </li>
                  <li style="position: relative; padding-left: 24px; margin-bottom: 10px;">
                    <span style="position: absolute; left: 0;">✔</span> {{ resumeForm.get('languageFive')?.value }}
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <!-- Right merged column -->
        <div
          style="background: transparent; height: 100%;grid-column: span 2; box-sizing: border-box; position: relative;">
          <!-- Above rectangle -->
          <div style="position: absolute;width: 100%; top: 50px; display: flex; flex-direction: column; gap: 4px; ">
            <div style="font-size: 30px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              {{ resumeForm.get('firstName')?.value }}
            </div>
            <div>
              <h1 style="margin: 0; font-size: 50px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                {{ resumeForm.get('lastName')?.value }}</h1>
            </div>
          </div>

          <!-- Below rectangle -->
          <div style="position: absolute; width: 100%; top: 235px;">
            <div style="padding: 0 15px; display: flex; flex-direction: column; gap: 1px;">

              <!-- Professional Experience -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px; right:15px;">
                  PROFESSIONAL EXPERIENCE
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                    background: linear-gradient(to right,  darkblue, purple);"></div>
                </div>

                <div style="position: relative;right:15px; padding-bottom: 20px;">
                  <h3 style="font-weight: bold; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstCompanyName')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstCompanyRole')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstCompanyLocation')?.value }}
                  </h3>

                  <ul style="list-style: none; padding-left: 20px; margin: 5px 0;">
                    <li style="position: relative; padding-left: 16px; margin-bottom: 6px; text-align: justify;">
                      <span style="position: absolute; left: 0; font-weight: normal;">•</span>
                      {{ resumeForm.get('firstCompanyDescriptionOne')?.value }}
                    </li>
                    <li style="position: relative; padding-left: 16px;">
                      <span style="position: absolute; left: 0; font-weight: normal; text-align: justify;">•</span>
                     {{ resumeForm.get('firstCompanyDescriptionTwo')?.value }}
                    </li>
                  </ul>
                </div>

                <div style="position: relative; right:15px;">
                  <h3 style="font-weight: bold; text-align: justify; word-break: normal; margin: 5px">
                   {{ resumeForm.get('secondCompanyName')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                     {{ resumeForm.get('secondCompanyRole')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('secondCompanyLocation')?.value }}
                  </h3>

                  <ul style="list-style: none; padding-left: 20px; margin: 5px 0;">
                    <li style="position: relative; padding-left: 16px; margin-bottom: 6px; text-align: justify;">
                      <span style="position: absolute; left: 0; font-weight: normal;">•</span>
                      {{ resumeForm.get('secondCompanyDescriptionOne')?.value }}
                    </li>
                    <li style="position: relative; padding-left: 16px; text-align: justify;">
                      <span style="position: absolute; left: 0; font-weight: normal;">•</span>
                     {{ resumeForm.get('secondCompanyDescriptionTwo')?.value }}
                    </li>
                  </ul>
                </div>

              </div>

              <!-- Education -->
              <div style="padding-bottom: 20px;">
                <div style="font-weight: bold; font-size: 24px; position: relative; padding-bottom: 6px; right:15px;">
                  Education
                  <div style="position: absolute; bottom: 0; left: 0; height: 2px; width: 100%;
                    background: linear-gradient(to right,  darkblue, purple);"></div>
                </div>

                <div style="position: relative;right:15px; padding-bottom: 20px;">
                  <h3 style="font-weight: bold; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstFieldOfStudy')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstFieldOfStudyGrade')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('firstFieldOfStudyLocation')?.value }}
                  </h3>
                </div>

                <div style="position: relative;right:15px; padding-bottom: 20px;">
                  <h3 style="font-weight: bold; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('secondFieldOfStudy')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                   {{ resumeForm.get('secondFieldOfStudyGrade')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('secondFieldOfStudyLocation')?.value }}
                  </h3>
                </div>

                <div style="position: relative;right:15px; padding-bottom: 20px;">
                  <h3 style="font-weight: bold; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('thirdFieldOfStudy')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                   {{ resumeForm.get('thirdFieldOfStudyGrade')?.value }}
                  </h3>
                  <h3 style="font-weight: normal; text-align: justify; word-break: normal; margin: 5px">
                    {{ resumeForm.get('thirdFieldOfStudyLocation')?.value }}
                  </h3>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>