@use '@angular/material' as mat;

//Include Angular Material core styles first
@include mat.core();

//Define palettes
$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

// Define your custom Angular Material theme
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the Angular Material theme to all components
@include mat.all-component-themes($my-theme);

// Now include Tailwind components and utilities but
// DO NOT include `@tailwind base` here to avoid CSS reset overriding Material styles
@tailwind components;
@tailwind utilities;

// Your global custom styles
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-red {
  color: red;
}

.snackbar-success {
  background-color: red !important;
  color: white !important;
  border-radius: 10px !important;

  .mdc-snackbar__surface {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-snack-bar-action {
    color: yellow !important;
  }
}

.mat-dialog-container {
  border-radius: 12px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
  padding: 16px;
}
